body {
  font-family: 'Figtree', sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: hsl(40, 98%, 82%);
}